# General
# =======
*.log
*.pid
*.gz
*.tmp
*.bak
*.swp

# Node and related ecosystem
# ==========================
node_modules/
.nodemonignore
.idea/
coverage/
.nyc_output/

# Application and assets
# ======================
.env*
!.env.example
logs/
.jest/
log-file.js

# Editors
# =======
.vscode/
.sublime-project
*.sublime-project
*.sublime-workspace